.submit-form-page {

  height: 100vh;
  width: 100vw;
  display: flex;
  position: fixed;
  top: 0;
  color: #fff;
  z-index: 1;
}

.form-left-side-inner-width {
  width: 432px;
  margin: auto;
}

.form-right-side-inner-width {
  width: 248px;
  margin: auto;
}

.form-left-side {
  /* background: #979797; */
  flex: 1;
  display: flex;
}

.form-right-side {
  background: #171717;
  flex: 1;
  margin: auto;
  height: 100vh;
  display: flex;
}

h2 {
  margin-top: 0;
  font-size: 1.85vw;
}

form {
  display: flex;
  margin: auto;
  width: 1920px;
}

input,
textarea {
  width: 360px;
  /* margin: 8px;
  padding: 8px; */
  border: 1px solid #bdbdbd;
  background: transparent;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  padding: 0 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #BDBDBD;
  opacity: 1; /* Firefox */
}


/* input[type="radio"] {
  width: 19px;
  height: 19px;
  margin: auto 4px;
} */

/* input[type="radio"] {
  position: absolute;
  top: 14px;
  left: 10px;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: 6px solid #ffffff;
  border-radius: 50%;
}

input[type="radio"]:after {
  content: '';
  position: absolute;
  display: block;
  left: 5px;
  top: 5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
} */

.radio-label input[type='radio'] {
  -webkit-appearance:none;
  display: flex;
  width:19px;
  height:19px;
  border:1px solid #979797;
  border-radius:50%;
  outline:none;
  margin: auto 4px auto 0;
  padding: 0;
  /* box-shadow:0 0 5px 0px gray inset; */
}
/* .radio-label input[type='radio']:hover {
  box-shadow:0 0 5px 0px orange inset;
} */
.radio-label input[type='radio']:before {
  content:'';
  display:block;
  width:5px;
  height:5px;
  margin: auto;
  border-radius:50%;
}
.radio-label input[type='radio']:checked:before {
  background:#FFDA2A;
  border-color: #FFDA2A;
}

.radio-label input[type='radio']:checked {
  border-color: #FFDA2A;
}

span.error {
  color: #CE4040;
  display: flex;
  font-size: 12px;
  margin-top: 10px;
}

.radio-label {
  margin: auto 0;
  flex-direction: revert;
}

.radio-label:first-child {
  margin-right: 10px;
}
label {
  margin-left: 1px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

input {
  height: 48px;
  font-family: 'Raleway';
  /* padding: 0 10px; */
}

textarea {
  height: 96px;
  padding: 10px;
  font-family: 'Raleway';
}
.left-form-height {
  height: 502px;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFDA2A;
  width: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #828282;
  width: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.registered-label {
  color: #BDBDBD;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  width: 360px;
  flex-direction: row;
}

.registered-label div {
  display: flex;
}

.registered-label span {
  margin: auto 0;
}

input.ng-dirty, input:focus,
textarea.ng-dirty, textarea:focus {
  /* outline: none !important; */
  /* border:1px solid #fff; */
  color: #fff
}

.finish-submit-view {
  margin: auto;
  text-align: center;
}

.finish-submit-view div {
  font-weight: bold;
  font-size: 35px;
  line-height: 45px;
}

.finish-submit-view p {
  font-size: 18px;
  margin-top: 5px;
}

.finish-submit-view img {
  width: 685px;
  margin-top: 14px;
}


/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 207px;
  background-color: #171717;
  color: #fff;
  text-align: left;
  padding: 17px;
  border-radius: 6px;
  margin-left: 10px;
  font-size: 12px;
  line-height: 21px;
  position: fixed;
  z-index: 1;
  box-sizing: border-box;
  /* border: 1px solid #fff; */
  opacity: 0;
  transition: opacity 1s;
  position: fixed;
  z-index: 1;
}

.tooltip .tooltiptext:before {
  content: " ";
  position: absolute;
  top: 25%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #171717 transparent transparent;
}

/* .tooltip .tooltiptext:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #ffffe0 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
} */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.submit-form-button {
  margin-top: 2vw;
  background-color: #FFDA2A;
  color: #171717;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 8.87vw;
  height: 2.82vw;
  font-weight: 500;
  font-size: 1.05vw;
}

.submit-form-button[disabled] {
  background-color: #bdbdbd;
  cursor: default;
}
