<div class="top-section">
  <div class="top-section-text">
    <h2>
      We want your <br/>inspiring music
    </h2>
    <p>
      Get your music into films, videos & TV all<br/>around the world. Join the Artlist family.
    </p>
    <a (click)="scrollToElement(start)"><span class="arrow down"></span></a>
  </div>
</div>

<div class="join-section">
  <h2 class="join-section-join">Join leading artists around the world</h2>
  <div class="join-section-artists">
    <div class="join-section-artist musician-image">
      <div class="join-section-artist-content">
        <div class="join-section-artist-title">Musicians</div>
        <span class="join-section-artist-name">Geva Alon</span>
        <span class="join-section-artist-genre">Rock-folk artist</span>
      </div>
    </div>
    <div class="join-section-artist producer-image">
      <div class="join-section-artist-content">
        <div class="join-section-artist-title">Producers</div>
        <span class="join-section-artist-name">Kick Lee</span>
        <span class="join-section-artist-genre">Composer-Producer</span>
      </div>
    </div>
    <div class="join-section-artist composer-image">
      <div class="join-section-artist-content">
        <div class="join-section-artist-title">Composers</div>
        <span class="join-section-artist-name">Vlad Morleo</span>
        <span class="join-section-artist-genre">Classical piano composer</span>
      </div>
    </div>
    <div class="join-section-artist agent-image">
      <div class="join-section-artist-content">
        <div class="join-section-artist-title">Agents</div>
        <span class="join-section-artist-name">Davis Absolte</span>
        <span class="join-section-artist-genre">Agent</span>
      </div>
    </div>
  </div>

  <h2 class="join-section-keep">Keep doing your thing</h2>
  <div class="join-section-do-lists">
    <div class="join-section-do-list">
      <h3 class="join-section-do-list-title">Keep your rights</h3>
      <p>It’s your music and you keep all of the rights.</p>
    </div>
    <div class="join-section-do-list">
      <h3 class="join-section-do-list-title">Revenue</h3>
      <p>Join the growing sync-licensing market and tap into a whole new revenue stream.</p>
    </div>
    <div class="join-section-do-list">
      <h3 class="join-section-do-list-title">Inspire</h3>
      <p>Let your music help to tell the story and  be the soul of films around the world.</p>
    </div>
    <div class="join-section-do-list">
      <h3 class="join-section-do-list-title">Non-exclusive</h3>
      <p>You can license with Artlist and still distribute/license your music anywhere else you choose.</p>
    </div>
    <div class="join-section-do-list">
      <h3 class="join-section-do-list-title">Expand your reach</h3>
      <p>See your social and streaming channels grow as your music is recognized in thousands of films worldwide.</p>
    </div>
    <div class="join-section-do-list">
      <h3 class="join-section-do-list-title">Creative community</h3>
      <p>Distribute your music through one of the top music licensing platforms in the world, and be part of a select group of composers and indie artists.</p>
    </div>
  </div>
</div>

<div class="start-section" #start>
  <div class="start-section-width">
    <div class="start-section-content">
      <div>Things to check<br>
        before we start
      </div>
      <!-- <button routerLink="/submit-form">Start Now</button> -->
      <button (click)="openModal('custom-modal-1')">Start Now</button>

    </div>
    <img src="assets/images/start.png" alt="">
  </div>
</div>

<div class="footer-section">
  <a href="#">artist@artlist.io</a>
</div>

<app-modal id="custom-modal-1">
  <app-submit-form></app-submit-form>
  <a class="close-modal" (click)="closeModal('custom-modal-1')">×</a>
</app-modal>
