/* .input-wrapper {
  position: relative;
  min-width: 5.625rem;
  padding: 0.5rem 0 1.5rem;
}
.input-wrapper .input {
  position: relative;
  margin: 0;
  outline: 0;
}
.input-wrapper .input input {
  width: 100%;
  height: 1.5rem;
  line-height: 1.3125rem;
  border: none;
  border-bottom: 1px solid #a8a8a8;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  color: #323232;
  margin-top: 4px;
  padding-bottom: 2px;
  outline: 0;
  cursor: pointer;
  font-size: inherit;
}
.input-wrapper .input input:focus {
  border-bottom: 2px solid #0079cc;
}
.input-wrapper .input input:disabled {
  cursor: default;
  color: #93a1aa;
  border-bottom: solid 1px #93a1aa;
}
.input-wrapper .input input:disabled + .dropdown-arrow {
  color: #93a1aa;
}
.input-wrapper .input .dropdown-arrow {
  position: absolute;
  color: inherit;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
.input-wrapper .input.required label:after {
  color: red;
  content: "*";
  position: relative;
  left: 5px;
  bottom: 5px;
}
.dropdown-options-container {
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .24);
  display: block;
  overflow: auto;
} */

label {
  margin-left: 1px;
  margin-bottom: 20px;
  display: flex;
}

input {
  height: 48px;
  font-family: 'Raleway';

  width: 360px;
  border: 1px solid #bdbdbd;
  background: transparent;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  padding: 0 10px;
  color: #fff;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #BDBDBD;
  opacity: 1; /* Firefox */
}
